<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row justify-content-center align-items-center">
    <div class="form-group">
      <h2>Create a new post</h2>
      <%= render 'form', post: @post %>

    </div>
  </div>
</div>
